body {
  margin: auto;
  padding: 15px;
  background-color: rgb(63, 63, 73);
  font-family:'Courier New', Courier, monospace;
  text-align: justify;
}

#wrapper {
  margin: 30px;
  font-size: 1.2vw;
  letter-spacing: 0.1em;
  line-height: 2.2em;
  color:rgb(253, 253, 253);
  display: block;
}

#new-item {
  font-size: 1.3vw;
  font-family: serif;
  width: 25%;
  padding: 0.2em 1em;
  border-radius: 5vw;
  border: none;
}

#add {
  border: none;
  background-color: darkseagreen;
  border-radius: 5vw;
  font-size: 1.2vw;
  letter-spacing: 0.05em;
  padding: 0.4vw 0.8vw;
}

#add:hover {
  background-color: rgb(10, 10, 10);
  color: darkseagreen;
  cursor: pointer;
}

.checkbox-item:checked + label {
  text-decoration: line-through;
  color: rgb(111, 111, 123);
}

